@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
    margin: 0;
    padding: 0;
    background-color: #0a1f1a; /* 👈 your chosen background */
    color: white;
  }

  a {
		text-decoration: none;
		color: #00ff88;
	}
	a:hover {
		text-decoration: underline;
	}